@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

*
{
    font-family: 'Baloo 2', sans-serif;
    background-color: #FFFFFF;
    padding: 0%;
    margin: 0%;
}

header
{
    /* background-color: green; */
    padding: 32px 64px;
    display: flex;
    justify-content: space-between;
}

#logo
{
    /* background-color: red; */
    font-size: 30px;
    padding-top: 4px;
}

#logo a
{
    color:#102542;
    text-decoration: none;
    align-self:baseline;

    transition: 0.1s;
}

#logo a:hover
{
    color:#F87060;
}

#topnav
{
    flex-direction: row;    display: flex;
    text-align: center;
    justify-content: center;
}

#topNav a
{
    padding:0px;
    padding-left: 8px;
    color:#102542;
    text-decoration: none;
    font-size: 15px;

    transition: 0.1s;
}

#topNav a:hover
{
    color:#F87060;
}

#topNav nav
{
    display: inline-block;
    padding-top: 14px;
}
#topNav nav a
{
    align-self: center;
}

#content
{
    display: flex;
    justify-content: center;

    min-height: 100vh;
    /* background-color: burlywood; */
}

#footer
{
    background-color: #2A6041;
    min-height: 100px;
}