@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

:root
{
    --white: #F7F5FB;
    --dark: #2B2D42;
    --accent: #E86A92;
    --yellow: #F7E733;
    --green: #9FCC2E;
}

*
{
    font-family: 'Baloo 2', sans-serif;
    color: var(--white);
    padding: 0%;
    margin: 0%;
}

#canvas
{
    display: flexbox;
}

header
{
    display: flex;
    justify-content: space-between;
}

#headerWrapper
{
    color: var(--dark);
    padding: 1rem;
}

a
{
    color: var(--dark);
}
a:hover
{
    color: var(--accent);
}

#logo
{
    /* background-color: red; */
    font-size: 30px;
    padding-top: 4px;
}

#logo a
{
    text-decoration: none;
    align-self:baseline;
}

#topnav
{
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: center;
}

#topNav a
{
    padding:0px;
    padding-left: 8px;
    text-decoration: none;
    font-size: 15px;
}

#topNav nav
{
    display: inline-block;
    padding-top: 14px;
}
#topNav nav a
{
    align-self: center;
}

#content
{
    display: flex;
    justify-content: center;
    margin: 2rem 20vw 10vw 20vw;
    min-height: 100vh;
    background-color: var(--yellow);
}

#games
{
    display: flex;
    flex-direction: column;
}

.game
{
    width: 100%;
}
.game h1
{
    color: var(--dark);
}

#footer
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark);
    min-height: 5rem;
    align-content: center;
}

#footer a{
    color: var(--yellow);
}
#footer a:hover{
    color: var(--accent);
}